################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SmartPointers/Debug
/SmartPointers/.vs/SmartPointers
/StringWindow/Debug
/StringWindow/.vs/StringWindow/v17
